/* fraunces-regular - latin */
@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/BebasNeue-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/Lato-Italic.ttf') format('ttf');
}
