/* NanumMyeongjo-Regular */
@font-face {
  font-family: 'NanumMyeongjo';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../NanumMyeongjo-Regular.ttf') format('ttf');
}

/* Bebas */
@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../BebasNeue-Regular.ttf') format('ttf');
}
